@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}